*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;   
}

body{
    display: flex;
    margin-left: 4%;
    margin-right: 10%;
    background-color: rgb(210, 255, 255);
    
}

.container > div{
    flex: 1;
}

.header{
    background-color: #1f2937;
    padding: 10%;
}
.description{
    padding: 20px;
    width: 100%;
    display: flex;
    margin-top: 30px;
}

nav{
    margin-bottom: 70px;
    margin-top: -10%;
    padding: 10px;
    color: #e5e7eb;
    font: 18px;
    display: flex;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
}
.links{
    word-spacing: 60px;
    margin-left: 50px;
    padding-right: 50px;
}
#main_txt{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

.sec-text{
    font-size: 18px;
    color: #e5e7eb;
    
}

.text{
    width: 600px;
    margin-bottom: 10px;
}

#sig{
    background-color: #3882f6;
    color: white;
    border-radius: 7px solid white;
    width: 120px;
    height: 30px;
    margin-top: 50px;  

}

#top-image{
    width: 450px;
    height: 220px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    background-color: #FFFAFA;
    margin-left: 80px;
}

.info{
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    padding: 50px 200px;
}

#info{
    text-align: center;
}

.image-section{
    background-color: white;
}

#info{
    padding-top: 20px;
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
}

#image{
    width: 200px;
    height: 150px;
}

.quote{
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 30px;
    font-style: italic;
    text-align: center;;
    padding: 50px 250px;

}
#qt{
    width: 800px;
    margin-left: 100px;
    margin-top: 30px;

}

#author{
    text-align: end;
    padding-right: 40px;
}

.blue{
    background-color: white;
    height: 200px;
    padding-top: 50px;
}

#box{
    background-color: #3186fc;
    color: white;
    margin-left: 300px;
    padding-right: 60px;
    padding-left: 70px;
    padding-top: 30px;
    width: 700px;
    height: 100px;
    border-radius: 7px;
}

.word{
    display: inline-block;
    display: flex;
}

#sign{
    border: 2px solid white;
    color:white;
    border-radius: 5px;
    background-color: #3186fc;
    height: 30px;
    width: 90px;
    margin-left: 250px; 
}

.footer{
    background-color: #1f2937;
    height: 50px;
    text-align: center;
}

#ft-txt{
    color: white;
    padding: 15px;
} 
